*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header {
    background-color: #1e172f;
    height: 4.2rem;
    
}

a {
    text-decoration: none;
}

.img-logo{
    position: relative;
    left: 21rem;
    
}

.nav-anclas{
    display: flex;
    position: absolute;
    left: 65rem;
    top: 0.9rem;
    margin-top: 10px;
    width: 30rem;
    color: #fff;
    justify-content: space-between;
    
}


a:hover{
    color: white;
}



.ancla{
    color: #ffffff7b;
}


.btn-download{
    position: relative;
    bottom: 12px;
    height: 3rem;
    width: 7rem;
    background-image: linear-gradient(45deg, #aa21d7, #36a2eb);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.first-section{
    display: flex;
    flex-direction: row;
}

.title{
    color: #fff;
    width: 17rem;
    font-size: 5rem;
    font-weight: bolder;
    position: relative;
    left: 21rem;
    top: 12rem;
}

.text2{
    position: relative;
    font-size: 1.4rem;
    left: 21rem;
    top: 15rem;
    width: 32rem;
    color: #fff;
}

.buttons{
    position: relative;
    height: 3.3rem;
    width: 20.7rem;
    padding-top: 10px;
    padding-left: px;
    border: 2px solid;
    border-color: #80808095;
    border-radius: 5px;
    left: 21rem;
    top: 18rem;


}

.btn-download2{
    color: #EF268D;
    background-color: #fff;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    width: 9.6rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    left: 5px;
    bottom: 0.3rem;
}

.btn-features{
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    background-color: transparent;
    border: 2.5px solid;
    border-color: #fff;
    border-radius: 5px;
    width: 9.6rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    bottom: 5px     ;
    left: 15px;
}

.features{
    position: relative;
    top: 6rem;
}

.img-laptop{
    position: absolute;
    top: 65rem;
    left: 20rem;
    width: 500px;
    height: 280px;
}


.title-sec2{
    color: #EF268D;
    width: 100%;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 3rem;
    
}

.subtitle-sec2{
    color: #C1548C;
    font-size: 2.5rem;
    font-weight: lighter;
    position: relative;
    left: 62rem;
    width: 20rem;
}

.p-sec2{
    color: #87878A;
    position: relative;
    top: 2rem;
    left: 62rem;
    width: 20rem;
}

.title-Li{
    color: #C1548C;
    font-size: 1.5rem;
    position: relative;
    width: 15rem;
    left: 62rem;
    top: 3rem;
    list-style: none;
}

.spanSec2{
    color: #EF268D;
    width: 30px;
    height: 21px;
    margin-left: 40px;
    font-size: 14px;
    border: 1.8px solid;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    border-color: #EF268D;
    position: relative;
    right: 10px;
}

.chulito{
    color: #87878A  ;
    padding-left: 10px;
    list-style: none;
    position: relative;
    left: 59.7rem;
    width: 20rem;
    top: 4rem;
}





/* .chulito{
    color: #EF268D;
    width: 19px;
    height: 21px;
    margin-left: 40px;
    font-size: 14px;
    border: 2px solid;
    padding-left: 6px;
    border-radius: 50%;
    border-color: #EF268D;
} */







.product-page{
    display: flex;
    flex-direction: column;
    background-color: #2E2550;
    height: 90vh;
    width: 50%;
}

.cellphone{

    background-image: url(../assets/images/hojasFondo.jpg);
    background-size: cover;
    height: 90vh;
    width: 50%;
    
}

.fondo{
    color: transparent;
    background-color: #2421307b;
    background-size: 100%;
    height: 100%;    
}


.phone{
    height: 30rem;
    position: relative;
    bottom: 38rem;
    left: 8rem;
}

.third-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 15rem;
    height: 120vh;
    width: 100%;
    background-color: #1E172F;
}   

/* 
.third-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */
  
  /* .free, .standard {
    flex: 1;
    margin: 20px;
  } */

  

.title-sec3{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 65px;
    margin-bottom: 50px;
}

.text3{
    color: #ffffff7b;
    width: 100%;
    margin-left: 29%;
    margin-right: 29%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    
    margin-bottom: 60px;
  
}


.free{
    background-color: #fff;
    margin-left: 40px;
    border: 1px solid;
    border-radius: 1%;
    width: 21rem;
    height: 630px;
}

.img-hoja{
    position: relative;
    top: 1rem;
    left: 7.6rem;
}

.textFree{
    color: #EF268D;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    top: 1rem;
    
}

.text-span{
    text-align: center;
    background-color: #80808027;
    position: relative;
    top: 2rem;
}

.zeroFree{
    font-size: 50px;
}

.freeSpan{
    font-weight: lighter;
    position: relative;
    bottom: 1.3rem;
    font-size: 15px;
}

.moneySymbol{
    font-size: 38px;
    position: relative;
    bottom: 4px;
    font-weight: lighter;
}

.symbols{
    color: #EF268D;
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 12rem;
    position: relative;
    right: 3rem;
    top: 3.1rem;
}

.symbols-X{
        color: #000000;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        margin-right: 12rem;
        position: relative;
        right: 3rem;
        top: 3.5rem;
}

.text-Li{
    list-style: none;
    line-height: 27px;
    width: 200px;
    font-size: 20px;
    position: relative;
    left: 5.3rem;
    bottom: 4.8rem;
}

.lastParagraph{
    text-align: center;
    width: 70%;
    margin-left: 55px ;    
}

.btn-subscribe{
        background: linear-gradient(310deg, rgba(239,38,141,1) 35%, rgba(250,112,183,1) 100%);
        color: #FFFFFF;
        width: 11rem;
        height: 3rem;
        font-size: 17px;
        border-radius: 5%;
        border: none;
        margin-top: 55px;
        margin-left: 70px;
        position: relative;
        top: 6px;
}

.background-btn{
    background-color: #80808027 ;
    width: 99.9%;
    height: 77px;
    border-radius: 3%;
    position: relative;
    bottom: 55px;
}


.standard{
    background-color: #fff;
    margin-left: 40px;
    border: 1px solid;
    border-radius: 1%;
    width: 21rem;
    height: 630px;
    
}


.textStandard{
    color: #263247;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    top: 1rem;
    
}


.symbolsStandard{
    color: #263247;
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 12rem;
    position: relative;
    right: 3rem;
    top: 3.1rem;
}

.symbolsStandard-X{
        color: #263247;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        margin-right: 12rem;
        position: relative;
        right: 3rem;
        top: 3.5rem;
}

.btn-subscribeStandard{
background-color: #2E2550;
color: #FFFFFF;
width: 11rem;
height: 3rem;
font-size: 17px;
border-radius: 5%;
border: none;
margin-top: 55px;
margin-left: 70px;
position: relative;
top: 6px;


    
}

.ultimate{
    background-color: #fff;
    margin-left: 40px;
    border: 1px solid;
    border-radius: 1%;
    width: 21rem;
    height: 630px;
}

.textUltimate{
    color: #263247;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    top: 1rem;
}

.symbolsUltimate{
    color: #263247;
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 12rem;
    position: relative;
    right: 3rem;
    top: 3.1rem;
}

.symbolsUltimate-X{
        color: #263247;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        margin-right: 12rem;
        position: relative;
        right: 3rem;
        top: 3.5rem;
}


.UltimateSpan{
    font-weight: lighter;
    position: relative;
    bottom: 1.3rem;
    font-size: 15px;
}

.spanYear{
    position: relative;
    top: 1rem;
    right: 3.6rem;
}

.btn-subscribeUltimate{
    background-color: #2E2550;
    color: #FFFFFF;
    width: 11rem;
    height: 3rem;
    font-size: 17px;
    border-radius: 5%;
    border: none;
    margin-top: 55px;
    margin-left: 70px;
    position: relative;
    top: 6px;

}

